{{>partials_head}}
<body>
  <div id="layout">
    {{> partials_topbar }}

    <div style="padding: 1em 0.5em 3em 0.5em;">
      <div style="text-align: center;">
        <span class="status" style="font-size: 1.5em;">
          {{>partials_status status}}
        </span>
      </div>
    </div>

    {{#if already_saved}}
      <form
        method="POST"
        action="{{ route "presetDelete" }}"
      >
        <input type="hidden" name="_csrf" value="{{@csrfToken}}">
        <input type="hidden" name="id" value="{{already_saved.id}}">
        <button type="submit" onclick="return confirm('are you sure?')">delete</button>
      </form>
    {{else}}
      {{#unless @root.status.custom_emoji}}
        <form
          method="POST"
          action="{{ route "presetSave" }}"
        >
          <input type="hidden" name="_csrf" value="{{@csrfToken}}">
          <input type="hidden" name="status_emoji" value="{{@root.status.status_emoji}}">
          <input type="hidden" name="status_text" value="{{@root.status.status_text}}">
          <button type="submit">save</button>
        </form>
      {{/unless}}
    {{/if}}

    <div style="padding: 1em 0.5em 0 0.5em;">
      {{#unless @root.status.custom_emoji}}
        <div class="flex flex-row pb3">
          <form
            id="bulk"
            method="POST"
            action="{{ route "statusUse" }}"
          >
            <input type="hidden" name="_csrf" value="{{@csrfToken}}">
            <input type="hidden" name="status_emoji" value="{{@root.status.status_emoji}}">
            <input type="hidden" name="status_text" value="{{@root.status.status_text}}">
            <button type="submit">use for selected</button>
          </form>
        </div>
      {{/unless}}
      {{#if account}}
        {{#each account.oauths}}
          <div class="flex flex-row pb3 items-center">
            <div class="pa2">
              <input
                type="checkbox"
                {{#if (eq service "slack")}}
                  name="slack_oauth_id"
                {{/if}}
                {{#if (eq service "github")}}
                  name="github_oauth_id"
                {{/if}}
                form="bulk"
                value="{{oauth_id}}"
                checked
              >
            </div>

            <span style="padding-right: 0.5em; line-height: 0">
              <span class="icon-group">
                {{#if (eq service "slack")}}
                  <img
                    src="{{profile.image_72}}"
                    {{#if profile.display_name}}
                      alt="{{profile.display_name}} ({{team.name}})"
                    {{else}}
                      alt="{{profile.real_name}} ({{team.name}})"
                    {{/if}}
                  >
                  {{#unless team.icon.image_default}}
                    <img
                      src="{{team.icon.image_44}}"
                      alt="{{team.name}}"
                      class="team-icon"
                    >
                  {{/unless}}
                {{/if}}
                {{#if (eq service "github")}}
                  <img
                    src="{{profile.image_72}}"
                    {{#if profile.name}}
                      alt="{{profile.name}}"
                    {{else}}
                      alt="{{profile.login}}"
                    {{/if}}
                  >
                  <img
                    src="https://github.githubassets.com/apple-touch-icon.png"
                    class="team-icon"
                  >
                {{/if}}
              </span>
            </span>

            {{#if current_status}}
              <div class="status">
                {{>partials_status current_status }}
              </div>
            {{else}}
              <em style="color: gray">no status</em>
            {{/if}}

            <div style="flex-grow: 1"></div>

            <div class="flex flex-row">
              {{#with (lookup (lookup @root.statusOnServices service) oauth_id)}}
                  {{#unless is_current_status}}
                    <form
                      method="post"
                      action="{{ route "statusUse" }}"
                      class="pl2"
                      {{#if @root.status.custom_emoji}}disabled{{/if}}
                    >
                      <input type="hidden" name="_csrf" value="{{@csrfToken}}">
                      {{#if (eq ../service "slack")}}
                        <input type="hidden" name="slack_oauth_id" value="{{../oauth_id}}">
                      {{/if}}
                      {{#if (eq ../service "github")}}
                        <input type="hidden" name="github_oauth_id" value="{{../oauth_id}}">
                      {{/if}}
                      <input type="hidden" name="status_emoji" value="{{@root.status.status_emoji}}">
                      <input type="hidden" name="status_text" value="{{@root.status.status_text}}">
                      {{#unless @root.status.custom_emoji}}
                        <button type="submit">use</button>
                      {{/unless}}
                    </form>
                  {{/unless}}
              {{/with}}
            </div>
          </div>
        {{/each}}
      {{/if}}
    </div>

    {{> partials_footer . }}

  </div>
</body>
