{{>partials_head}}
<body>
  <div id="layout">
    {{#with activeSlack}}
      {{#> partials_topbar
        oauth_id=oauth_id
        profile=profile
        team=team
      }}
        {{#*inline "breadcrumbs"}}
          <li>
            <a href="{{ route "slackPresetsList" oauth_id=oauth_id }}">
              presets
            </a>
          </li>
          <li>
            <a
              href="{{ route "statusIndex"
                ?status_emoji=@root.status.status_emoji
                ?status_text=@root.status.status_text }}"
              title="preset"
            >
              🔗
            </a>
          </li>
        {{/inline}}
      {{/ partials_topbar }}
    {{/with}}

    <div style="padding: 1em 0.5em 3em 0.5em;">
      <div style="text-align: center;">
        <span class="status" style="font-size: 1.5em;">
          {{>partials_status status}}
        </span>
      </div>
    </div>

    {{#each slacks}}
      <div class="preset-row">
        <span style="padding-right: 0.2em;">
          <span class="icon-group">
            <img
              src="{{profile.image_72}}"
              {{#if profile.display_name}}
                alt="{{profile.display_name}} ({{team.name}})"
              {{else}}
                alt="{{profile.real_name}} ({{team.name}})"
              {{/if}}
            >
            {{#unless team.icon.image_default}}
              <img
                src="{{team.icon.image_44}}"
                alt="{{team.name}}"
                class="team-icon"
              >
            {{/unless}}
          </span>
        </span>
        <strong>
          {{#if profile.display_name}}
            {{profile.display_name}}
          {{else}}
            {{profile.real_name}}
          {{/if}}
          ({{team.name}})
        </strong>
        <div style="flex-grow: 1"></div>

        {{#with (lookup @root.slackPresets [oauth_id])}}
          {{#if already_saved}}
            <form
              method="post"
              action="{{ route "slackPresetDelete" }}"
              onsubmit="return confirm('are you sure?')"
            >
              <input type="hidden" name="_csrf" value="{{@csrfToken}}">
              <input type="hidden" name="oauth_id" value="{{@root.activeSlack.oauth_id}}">
              <input type="hidden" name="id" value="{{already_saved.id}}">
              <button type="submit" class="danger">delete</button>
            </form>
          {{else}}
            <form
              style="display: inline-block"
              method="post"
              action="{{ route "slackPresetAdd" }}"
            >
              <input type="hidden" name="_csrf" value="{{@csrfToken}}">
              <input type="hidden" name="oauth_id" value="{{@root.activeSlack.oauth_id}}">
              <input type="hidden" name="status_emoji" value="{{@root.status.status_emoji}}">
              <input type="hidden" name="status_text" value="{{@root.status.status_text}}">
              <button type="submit">save</button>
            </form>
          {{/if}}

          <form
            method="post"
            action="{{ route "statusUse" }}"
            {{#if is_current_status}}disabled{{/if}}
            {{#if unknown_emoji}}disabled{{/if}}
          >
            <input type="hidden" name="_csrf" value="{{@csrfToken}}">
            <input type="hidden" name="oauth_id" value="{{@root.activeSlack.oauth_id}}">
            <input type="hidden" name="status_emoji" value="{{@root.status.status_emoji}}">
            <input type="hidden" name="status_text" value="{{@root.status.status_text}}">
            {{#if is_current_status}}
              <button type="submit" class="primary" disabled>current</button>
            {{else}}
              {{#if unknown_emoji}}
                <button type="submit" class="primary" disabled>unknown emoji</button>
              {{else}}
                <button type="submit" class="primary">use</button>
              {{/if}}
            {{/if}}
          </form>
        {{/with}}
      </div>
    {{/each}}

    {{> partials_footer . }}

  </div>
</body>
