{{>partials_head}}
<body>
  <div id="layout">
    {{> partials_topbar }}

    <div class="pt3 pb4 pl2 pr2 flex flex-column items-center">
      <div class="status" style="font-size: 1.5em;">
        {{>partials_status status}}
      </div>

      {{#if warnings}}
        <details class="pv2 w-100">
          <summary style="text-align: center; cursor: pointer">
            ⚠️ <span style="display: inline-block; font-style: italic">
              Status may differ when used
            </span>
          </summary>
          <ul>
            {{#if warnings.slack.default_emoji}}
              <li>When status has no emoji, Slack uses 💬 instead</li>
            {{/if}}
            {{#if warnings.github.default_emoji}}
              <li>When status has no emoji, Github uses 💭 instead</li>
            {{/if}}
            {{#if warnings.slack.text_as_emoji}}
              <li>When status has emoji-only text, Slack uses it as a status emoji instead</li>
            {{/if}}
            {{#if warnings.slack.too_long_text}}
              <li>Text may be too long for Slack</li>
            {{/if}}
            {{#if warnings.github.too_long_text}}
              <li>Text may be too long for Github</li>
            {{/if}}
          </ul>
        </details>
      {{/if}}

      {{#if already_saved}}
        <form
          method="POST"
          action="{{ route "presetDelete" }}"
          class="pt3"
        >
          <input type="hidden" name="_csrf" value="{{@csrfToken}}">
          <input type="hidden" name="id" value="{{already_saved.id}}">
          <button type="submit" onclick="return confirm('are you sure?')">delete</button>
        </form>
      {{else}}
        {{#unless @root.status.custom_emoji}}
          {{#unless @root.status.empty}}
            <form
              method="POST"
              action="{{ route "presetSave" }}"
              class="pt3"
            >
              <input type="hidden" name="_csrf" value="{{@csrfToken}}">
              <input type="hidden" name="status_emoji" value="{{@root.status.status_emoji}}">
              <input type="hidden" name="status_text" value="{{@root.status.status_text}}">
              <button type="submit">save</button>
            </form>
          {{/unless}}
        {{/unless}}
      {{/if}}
    </div>

    <div style="padding: 1em 0.5em 0 0.5em;">
      {{#unless @root.status.custom_emoji}}
        <div class="flex flex-row pb3">
          <form
            id="bulk"
            method="POST"
            action="{{ route "statusUse" }}"
          >
            <input type="hidden" name="_csrf" value="{{@csrfToken}}">
            <input type="hidden" name="status_emoji" value="{{@root.status.status_emoji}}">
            <input type="hidden" name="status_text" value="{{@root.status.status_text}}">
            <button type="submit">use for selected</button>
          </form>
        </div>
      {{/unless}}
      {{#if account}}
        {{#each account.oauths}}
          <div class="flex flex-row pb3 items-center">
            <div class="pa2">
              <input
                type="checkbox"
                {{#if (eq service "slack")}}
                  name="slack_oauth_id"
                {{/if}}
                {{#if (eq service "github")}}
                  name="github_oauth_id"
                {{/if}}
                form="bulk"
                value="{{oauth_id}}"
                {{#with (lookup (lookup @root.statusOnServices service) oauth_id)}}
                  {{#if custom_emoji}}
                    disabled
                  {{else}}
                    checked
                  {{/if}}
                {{/with}}
              >
            </div>

            <span style="padding-right: 0.5em; line-height: 0">
              {{#if (eq service "slack")}}
                <a class="icon-group" href="{{ route "accountsSlack" user_id=user_id }}">
                  <img
                    src="{{profile.image_72}}"
                    {{#if profile.display_name}}
                      alt="{{profile.display_name}} ({{team.name}})"
                    {{else}}
                      alt="{{profile.real_name}} ({{team.name}})"
                    {{/if}}
                  >
                  {{#unless team.icon.image_default}}
                    <img
                      src="{{team.icon.image_44}}"
                      alt="{{team.name}}"
                      class="team-icon"
                    >
                  {{/unless}}
                </a>
              {{/if}}
              {{#if (eq service "github")}}
                <a class="icon-group" href="{{ route "accountsGithub" user_id=profile.id }}">
                  <img
                    src="{{profile.image_72}}"
                    {{#if profile.name}}
                      alt="{{profile.name}}"
                    {{else}}
                      alt="{{profile.login}}"
                    {{/if}}
                  >
                  <img
                    src="https://github.githubassets.com/apple-touch-icon.png"
                    class="team-icon"
                  >
                </a>
              {{/if}}
            </span>

            <a
              class="flex flex-row"
              href="{{ route "statusIndex"
                ?status_emoji=current_status.status_emoji
                ?status_text=current_status.status_text }}"
            >
              <span class="status">
                {{>partials_status current_status}}
              </span>
              <span
                class="deeper"
                role="presentation"
              >❯</span>
            </a>

            <div style="flex-grow: 1"></div>

            <div class="flex flex-row">
              {{#with (lookup (lookup @root.statusOnServices service) oauth_id)}}
                  {{#unless is_current_status}}
                    <form
                      method="post"
                      action="{{ route "statusUse" }}"
                      class="pl2"
                      {{#if custom_emoji}}disabled{{/if}}
                    >
                      <input type="hidden" name="_csrf" value="{{@csrfToken}}">
                      {{#if (eq ../service "slack")}}
                        <input type="hidden" name="slack_oauth_id" value="{{../oauth_id}}">
                      {{/if}}
                      {{#if (eq ../service "github")}}
                        <input type="hidden" name="github_oauth_id" value="{{../oauth_id}}">
                      {{/if}}
                      <input type="hidden" name="status_emoji" value="{{@root.status.status_emoji}}">
                      <input type="hidden" name="status_text" value="{{@root.status.status_text}}">
                      {{#unless custom_emoji}}
                        <button type="submit">use</button>
                      {{/unless}}
                    </form>
                  {{/unless}}
              {{/with}}
            </div>
          </div>
        {{/each}}
      {{/if}}
    </div>

    {{> partials_footer . }}

  </div>
</body>
