{{#> partials_head . }}
  Settings |
{{/partials_head}}
<body>
  <div id="layout">
    {{>partials_topbar}}

    <div style="padding: 0 0.5em 0 0.5em;">
      <h1>Settings</h1>
      {{#each account.oauths}}
        <div class="preset-row">
          {{#if (eq service "slack")}}
            <a
              href="{{ route "accountsSlack" user_id=user_id }}"
              class="flex flex-row items-center"
            >
              <span class="icon-group">
                <img
                  src="{{profile.image_72}}"
                  {{#if profile.display_name}}
                    alt="{{profile.display_name}} ({{team.name}})"
                  {{else}}
                    alt="{{profile.real_name}} ({{team.name}})"
                  {{/if}}
                >
                {{#unless team.icon.image_default}}
                  <img
                    src="{{team.icon.image_44}}"
                    alt="{{team.name}}"
                    class="team-icon"
                  >
                {{/unless}}
              </span>
              <div style="width: 0.5em"></div>
              <span>
                {{#if profile.display_name}}
                  {{profile.display_name}}
                {{else}}
                  {{profile.real_name}}
                {{/if}}
                {{#if team}}({{team.name}}){{/if}}
              </span>
            </a>
          {{/if}}

          {{#if (eq service "github")}}
            <a
              href="{{ route "accountsGithub" user_id=profile.id }}"
              class="flex flex-row items-center"
            >
              <span class="icon-group">
                <img
                  src="{{profile.image_72}}"
                  {{#if profile.name}}
                    alt="{{profile.name}}"
                  {{else}}
                    alt="{{profile.login}}"
                  {{/if}}
                >
                <img
                  src="https://github.githubassets.com/apple-touch-icon.png"
                  class="team-icon"
                >
              </span>
              <div style="width: 0.5em"></div>
              <span>
                {{#if profile.name}}
                  {{profile.name}}
                {{else}}
                  {{profile.login}}
                {{/if}}
              </span>
            </a>
          {{/if}}

          <div style="flex-grow: 1"></div>
          <form method="POST" action="{{ route "authUnlink" }}">
            <input type="hidden" name="_csrf" value="{{@csrfToken}}">
            <input type="hidden" name="service" value="{{service}}">
            <input type="hidden" name="oauth_id" value="{{oauth_id}}">
            <button type="submit">unlink</button>
          </form>
        </div>
      {{/each}}

      {{#if can_link_accounts}}
        <div class="preset-row">
          <span>
            link another account
          </span>
          <div style="flex-grow: 1"></div>
          {{#with slackAuth}}
            <form method="GET" action="https://slack.com/oauth/authorize">
              <input type="hidden" name="client_id" value="{{ client_id }}">
              <input type="hidden" name="redirect_uri" value="{{ absolute "authSlack" }}">
              <input type="hidden" name="state" value="{{ state }}">
              <input type="hidden" name="scope" value="{{ scope }}">
              <button type="submit">slack</button>
            </form>
          {{/with}}
          <div style="width: 0.5em"></div>
          {{#with githubAuth}}
            <form method="GET" action="https://github.com/login/oauth/authorize">
              <input type="hidden" name="client_id" value="{{ client_id }}">
              <input type="hidden" name="redirect_uri" value="{{ absolute "authGithub" }}">
              <input type="hidden" name="state" value="{{ state }}">
              <input type="hidden" name="scope" value="{{ scope }}">
              <button type="submit">github</button>
            </form>
          {{/with}}
        </div>
      {{/if}}

      <div class="h2"></div>

      <div class="preset-row">
        <div style="flex-grow: 1"></div>
        <form method="POST" action="{{ route "authLogout" }}">
          <input type="hidden" name="_csrf" value="{{@csrfToken}}">
          <button type="submit">logout</button>
        </form>
      </div>
    </div>

    {{> partials_footer . }}
  </div>
</body>
