{{>partials_head}}
<body>
  <div id="layout">
    {{#with activeSlack}}
      {{>partials_topbar
        oauth_id=oauth_id
        profile=profile
        team=team
        current_status=current_status
      }}
    {{/with}}

    <div style="padding: 1em 0.5em 0 0.5em;">
      <div class="preset-row">
        <a
          href="{{ route "slackPresetsList" oauth_id=activeSlack.oauth_id }}"
          style="font-size: 1.5em;"
        >
          presets
        </a>
        <a
          class="deeper"
          role="presentation"
          href="{{ route "slackPresetsList" oauth_id=activeSlack.oauth_id }}"
          style="font-size: 1.5em;"
        >
          ❯
        </a>
      </div>
      {{! history ❯ }}
      {{! support ❯ }}

      <div style="height: 10em;"></div>

      <div>
        {{#each slacks}}
          {{#if is_active}}
            <div class="preset-row">
              <span style="padding-right: 0.2em;">
                <span class="icon-group">
                  <img
                    src="{{profile.image_72}}"
                    {{#if profile.display_name}}
                      alt="{{profile.display_name}} ({{team.name}})"
                    {{else}}
                      alt="{{profile.real_name}} ({{team.name}})"
                    {{/if}}
                  >
                  {{#unless team.icon.image_default}}
                    <img
                      src="{{team.icon.image_44}}"
                      alt="{{team.name}}"
                      class="team-icon"
                    >
                  {{/unless}}
                </span>
              </span>
              <strong>
                {{#if profile.display_name}}
                  {{profile.display_name}}
                {{else}}
                  {{profile.real_name}}
                {{/if}}
                ({{team.name}})
              </strong>
              <div style="flex-grow: 1"></div>
              <form method="POST" action="{{ route "authLogout" }}">
                <input type="hidden" name="_csrf" value="{{@csrfToken}}">
                <input type="hidden" name="slack_oauth_id" value="{{oauth_id}}">
                <button type="submit">logout</button>
              </form>
            </div>
          {{else}}
            <div class="preset-row">
              <a href="{{ route "settingsSlack" oauth_id=oauth_id }}" style="padding-right: 0.2em;">
                <span class="icon-group">
                  <img
                    src="{{profile.image_72}}"
                    {{#if profile.display_name}}
                      alt="{{profile.display_name}} ({{team.name}})"
                    {{else}}
                      alt="{{profile.real_name}} ({{team.name}})"
                    {{/if}}
                  >
                  {{#unless team.icon.image_default}}
                    <img
                      src="{{team.icon.image_44}}"
                      alt="{{team.name}}"
                      class="team-icon"
                    >
                  {{/unless}}
                </span>
              </a>
              <a href="{{ route "settingsSlack" oauth_id=oauth_id }}">
                {{#if profile.display_name}}
                  {{profile.display_name}}
                {{else}}
                  {{profile.real_name}}
                {{/if}}
                ({{team.name}})
              </a>
              <a
                class="deeper"
                role="presentation"
                href="{{ route "settingsSlack" oauth_id=oauth_id }}"
              >
                ❯
              </a>
            </div>
          {{/if}}
        {{/each}}
        <div class="preset-row">
          <span style="padding-right: 0.2em;">
            <strong>
              login into another
            </strong>
          </span>
          <div style="flex-grow: 1"></div>
          {{#with slackAuth}}
            <form method="GET" action="https://slack.com/oauth/authorize">
              <input type="hidden" name="client_id" value="{{ client_id }}">
              <input type="hidden" name="redirect_uri" value="{{ absolute "authSlack" }}">
              <input type="hidden" name="state" value="{{ state }}">
              <input type="hidden" name="scope" value="{{ scope }}">
              <button type="submit">slack</button>
            </form>
          {{/with}}
        </div>
      </div>
    </div>
    {{> partials_footer . }}

  </div>
</body>
