{{>partials_head}}
<body>
  <div id="layout" class="pure-g">
    <div class="pure-u-1">
      <a href="{{ route "slackPresetsList" user_id=user_id }}">&larr;</a>
      <img src="{{profile.image_48}}">
      {{#unless team.icon.image_default}}
        <img src="{{team.icon.image_34}}">
      {{/unless}}
      {{#if profile.display_name}}
        {{profile.display_name}}
      {{else}}
        {{profile.real_name}}
      {{/if}}
      ({{team.name}})

      {{>partials_status current_status}}

      <hr>

      <div style="font-size: 2em; text-align: center;">
        {{>partials_status preset}}
      </div>

      <form
        style="display: inline-block"
        method="post"
        action="{{ route "slackPresetUse" user_id=@root.user_id }}"
        {{#if presetIsCurrentStatus}}disabled{{/if}}
      >
        <input type="hidden" name="_csrf" value="{{@csrfToken}}">
        <input type="hidden" name="status_emoji" value="{{preset.status_emoji}}">
        <input type="hidden" name="status_text" value="{{preset.status_text}}">
        <button type="submit" {{#if presetIsCurrentStatus}}disabled{{/if}}>use</button>
      </form>

      {{#if presetAlreadySaved}}
        <form
          style="display: inline-block"
          method="post"
          action="{{ route "slackPresetDelete" user_id=@root.user_id }}"
          onsubmit="return confirm('are you sure?')"
        >
          <input type="hidden" name="_csrf" value="{{@csrfToken}}">
          <input type="hidden" name="id" value="{{presetAlreadySaved.id}}">
          <button type="submit">delete</button>
        </form>
      {{else}}
        <form
          style="display: inline-block"
          method="post"
          action="{{ route "slackPresetAdd" user_id=@root.user_id }}"
        >
          <input type="hidden" name="_csrf" value="{{@csrfToken}}">
          <input type="hidden" name="status_emoji" value="{{preset.status_emoji}}">
          <input type="hidden" name="status_text" value="{{preset.status_text}}">
          <button type="submit">save</button>
        </form>
      {{/if}}
    </div>
  </div>
</body>
