{{>partials_head}}
<body>
  <div id="layout" class="pure-g">
    {{#with activeSlack}}
      {{#> partials_topbar
        user_id=user_id
        profile=profile
        team=team
        current_status=current_status
      }}
        {{#*inline "breadcrumbs"}}
          <li>
            <a href="{{ route "slackPresetsList" user_id=user_id }}">
              presets
            </a>
          </li>
        {{/inline}}
      {{/ partials_topbar }}
    {{/with}}

    <div class="pure-u-1">
      <form
        class="preset-row"
        method="post"
        action="{{ route "slackPresetAdd" user_id=activeSlack.user_id }}"
      >
        <input type="hidden" name="_csrf" value="{{@csrfToken}}">
        <input
          type="text"
          name="status_emoji"
          placeholder="emoji"
          list="emoji_datalist_{{activeSlack.oauth_id}}"
          style="flex-grow: 1; flex-shrink: 1; flex-basis: 0; width: 5em;"
        >
        <input
          type="text"
          name="status_text"
          placeholder="text"
          style="flex-grow: 2; flex-shrink: 1; flex-basis: 0; width: 5em;"
        >
        <button type="submit">save</button>
      </form>

      {{#each presets}}
        <form
          class="preset-row"
          method="post"
          action="{{ route "slackPresetUse" user_id=@root.activeSlack.user_id }}"
          {{#if is_current_status}}disabled{{/if}}
        >
          <a
            class="status"
            href="{{ route "slackPresetId"
              user_id=@root.activeSlack.user_id
              ?status_emoji=status_emoji
              ?status_text=status_text }}"
          >
            {{>partials_status .}}
          </a>
          <a
            class="deeper"
            role="presentation"
            href="{{ route "slackPresetId"
              user_id=@root.activeSlack.user_id
              ?status_emoji=status_emoji
              ?status_text=status_text }}"
          >
            â¯
          </a>
          <input type="hidden" name="_csrf" value="{{@csrfToken}}">
          <input type="hidden" name="status_emoji" value="{{status_emoji}}">
          <input type="hidden" name="status_text" value="{{status_text}}">
          {{#if is_current_status}}
            <button type="submit" disabled>current</button>
          {{else}}
            <button type="submit">use</button>
          {{/if}}
        </form>
      {{/each}}

      <datalist id="emoji_datalist_{{activeSlack.oauth_id}}">
        {{#each emoji_options}}
          <option value="{{this}}"></option>
        {{/each}}
      </datalist>
    </div>
  </div>
</body>
