{{>partials_head}}
<body>
  <div id="layout">
    {{#with activeSlack}}
      {{#> partials_topbar
        oauth_id=oauth_id
        profile=profile
        team=team
        current_status=current_status
      }}
        {{#*inline "breadcrumbs"}}
          <li>
            <a href="{{ route "slackPresetsList" oauth_id=oauth_id }}">
              presets
            </a>
          </li>
        {{/inline}}
      {{/ partials_topbar }}
    {{/with}}

    <div style="padding: 1em 0.5em 0 0.5em;">
      {{#if activeSlack.current_status}}
        {{#with activeSlack}}
          <div class="flex flex-column pb3">
            <span>{{!-- current status --}}</span>
            <div class="flex flex-row justify-between items-center">
              <a
                class="flex flex-row"
                href="{{ route "statusIndex"
                  ?status_emoji=current_status.status_emoji
                  ?status_text=current_status.status_text }}"
                title="Current status"
              >
                <span class="status">
                  {{>partials_status current_status}}
                </span>
                <span
                  class="deeper"
                  role="presentation"
                >❯</span>
              </a>

              <div class="flex">
                <form
                  method="post"
                  action="{{ route "statusUse" }}"
                  onsubmit="return confirm('are you sure?')"
                >
                  <input type="hidden" name="_csrf" value="{{@csrfToken}}">
                  <input type="hidden" name="oauth_id" value="{{oauth_id}}">
                  <input type="hidden" name="status_emoji" value="">
                  <input type="hidden" name="status_text" value="">
                  <button type="submit" title="clear">
                    {{#if current_status.already_saved}}
                      clear
                    {{else}}
                      ×
                    {{/if}}
                  </button>
                </form>

                {{#unless current_status.already_saved}}
                  <form
                    method="post"
                    action="{{ route "slackPresetAdd" }}"
                    class="pl2"
                  >
                    <input type="hidden" name="_csrf" value="{{@csrfToken}}">
                    <input type="hidden" name="oauth_id" value="{{oauth_id}}">
                    <input type="hidden" name="status_emoji" value="{{current_status.status_emoji}}">
                    <input type="hidden" name="status_text" value="{{current_status.status_text}}">
                    <button type="submit">save</button>
                  </form>
                {{/unless}}
              </div>
            </div>
          </div>
        {{/with}}
      {{/if}}

      <form
        class="preset-row status-form"
        method="post"
        action="{{ route "slackPresetAdd" }}"
      >
        <input type="hidden" name="_csrf" value="{{@csrfToken}}">
        <input type="hidden" name="oauth_id" value="{{@root.activeSlack.oauth_id}}">
        {{! chrome doesn't support flexbox in `<fieldset>` }}
        <div role="group" class="status">
          <label for="status-form-status_emoji" class="status_emoji">
            <span class="current-emoji">💬</span>
          </label>
          <input
            id="status-form-status_emoji"
            type="text"
            name="status_emoji"
            list="emoji_datalist"
            aria-label="emoji"
            placeholder="emoji"
          >
          <hr>
          <input
            type="text"
            name="status_text"
            placeholder="text"
            class="status_text"
          >
        </div>
        <div style="width: 0.5em;"></div>
        <button type="submit" class="primary">save</button>
      </form>

      {{#each presets}}
        <form
          class="preset-row"
          method="post"
          action="{{ route "statusUse" }}"
          {{#if unknown_emoji}}disabled{{/if}}
        >
          <a
            class="status"
            href="{{ route "statusIndex"
              ?status_emoji=status_emoji
              ?status_text=status_text }}"
          >
            {{>partials_status .}}
          </a>
          <a
            class="deeper"
            role="presentation"
            href="{{ route "statusIndex"
              ?status_emoji=status_emoji
              ?status_text=status_text }}"
          >
            ❯
          </a>
          <input type="hidden" name="_csrf" value="{{@csrfToken}}">
          <input type="hidden" name="oauth_id" value="{{@root.activeSlack.oauth_id}}">
          <input type="hidden" name="status_emoji" value="{{status_emoji}}">
          <input type="hidden" name="status_text" value="{{status_text}}">
          {{#if unknown_emoji}}
            <button type="submit" disabled>unknown emoji</button>
          {{else}}
            <button type="submit">use</button>
          {{/if}}
        </form>
      {{/each}}
    </div>

    {{> partials_footer . }}
  </div>

  <datalist id="emoji_datalist">
    {{#each emoji_options}}
      <option value="{{name}}" data-html="{{html}}"></option>
    {{/each}}
  </datalist>

  <script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function () {
      const INSIDE_COLONS_REGEX = /^:[^:]+:$/;
      function getDatalistOption(list, value) {
        value = value.trim();

        if (value && value.match(INSIDE_COLONS_REGEX)) {
          value = value.slice(1, value.length - 1);
          return list.querySelector('[value="' + value +'"]');
        }

        // `data-html` for native emoji's is the emoji itself
        return list.querySelector('[value="' + value +'"], [data-html="' + value + '"]');
      }

      function updateCurrentEmoji(event) {
        var form = event.target.form;
        var value = event.target.value.trim();

        if (!value) {
          value = "speech_balloon";
        }

        var datalistOption = getDatalistOption(event.target.list, value);
        var target = event.target

        if (datalistOption) {
          event.target.setCustomValidity("");
          form.querySelector('.current-emoji').innerHTML = datalistOption.dataset.html;
        } else {
          event.target.setCustomValidity("emoji not found");
          form.querySelector('.current-emoji').innerHTML = "<div class='custom-emoji' style='color: red'>☹︎</div>";
          form.querySelector('.current-emoji').title = event.target.validationMessage;
          event.target.reportValidity();
        }
      }

      Array.prototype.forEach.call(
        document.querySelectorAll('input[list="emoji_datalist"]'),
        function (input) {
          input.addEventListener("change", updateCurrentEmoji);
        }
      )

      function updateRequiredFields(event) {
        var form = event.target.form;

        if (form.status_text.value) {
          form.status_emoji.removeAttribute("required");
        } else {
          form.status_emoji.setAttribute("required", "required");
        }

        if (form.status_emoji.value) {
          form.status_text.removeAttribute("required");
        } else {
          form.status_text.setAttribute("required", "required");
        }
      }

      Array.prototype.forEach.call(
        document.querySelectorAll('form.status-form'),
        function (form) {
          updateRequiredFields({ target: { form: form }});
          form.status_text.addEventListener("input", updateRequiredFields);
          form.status_emoji.addEventListener("input", updateRequiredFields);
        }
      )
    });
  </script>
</body>
