<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <title>{{> @partial-block . }} when.st</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="{{{ asset "tachyons.min.css" }}}">
  <link rel="stylesheet" type="text/css" href="{{{ asset "main.css" }}}">
  <link rel="shortcut icon" type="image/png" href="{{{ asset "favicon-white.png" }}}">
  <link rel="icon" type="image/png" sizes="128x128" href="{{{ asset "favicon-white-128.png" }}}">
  <link rel="icon" type="image/png" sizes="192x192" href="{{{ asset "favicon-white-192.png" }}}">
  <link rel="apple-touch-icon" sizes="120x120" href="{{{ asset "favicon-white-120.png" }}}">
  <link rel="apple-touch-icon" sizes="167x167" href="{{{ asset "favicon-white-167.png" }}}">
  <link rel="apple-touch-icon" sizes="180x180" href="{{{ asset "favicon-white-180.png" }}}">
  <link rel="apple-touch-icon" href="{{{ asset "favicon-white-180.png" }}}">
</head>
