<header id="topbar" class="pure-u-1">
  {{#if back_href}}
    <a class="back" href="{{back_href}}">â¬…ï¸</a>
  {{else}}
    <span class="back"></span>
  {{/if}}

  <div class="current-status">
    <span style="color: gray; font-size: 0.8em; font-weight: bold">Current status</span>
    {{#if current_status}}
      <a
        href="{{ route "slackPresetId" user_id=user_id
          ?status_emoji=current_status.status_emoji
          ?status_text=current_status.status_text }}"
      >
        {{>partials_status current_status}}
      </a>
    {{else}}
      <span></span>
    {{/if}}
  </div>

  <details class="current-account">
    <summary style="position: relative;">
      <img
        src="{{profile.image_48}}"
        {{#if profile.display_name}}
          alt="{{profile.display_name}} ({{team.name}})"
        {{else}}
          alt="{{profile.real_name}} ({{team.name}})"
        {{/if}}
      >
      {{#unless team.icon.image_default}}
        <img
          src="{{team.icon.image_34}}"
          alt="{{team.name}}"
          style="position: absolute; bottom: 0; right: 0; width: 50%"
        >
      {{/unless}}
    </summary>
    <form method="POST" action="{{ route "authLogout" }}">
      <input type="hidden" name="_csrf" value="{{@csrfToken}}">
      <button type="submit">logout</button>
    </form>
  </details>
</header>
