<header id="topbar" class="pure-u-1">
  {{#if back_href}}
    <a class="back" href="{{back_href}}"><span style="font-size: 2em;">â®</span></a>
  {{else}}
    <span class="back"></span>
  {{/if}}

  <div class="current-status">
    <span style="color: lightgray; font-size: 0.8em; font-weight: bold">Current status</span>
    {{#if current_status}}
      <a
        class="status"
        href="{{ route "slackPresetId" user_id=user_id
          ?status_emoji=current_status.status_emoji
          ?status_text=current_status.status_text }}"
      >
        {{>partials_status current_status}}
      </a>
    {{else}}
      <span></span>
    {{/if}}
  </div>

  <a
    href="{{ route "settingsSlack" user_id=user_id }}"
    class="current-account"
  >
    <img
      src="{{profile.image_72}}"
      {{#if profile.display_name}}
        alt="{{profile.display_name}} ({{team.name}})"
      {{else}}
        alt="{{profile.real_name}} ({{team.name}})"
      {{/if}}
      style="width: 100%"
    >
    {{#unless team.icon.image_default}}
      <img
        src="{{team.icon.image_44}}"
        alt="{{team.name}}"
        class="team-icon"
      >
    {{/unless}}
  </a>
</header>
