<!doctype html>
<head>
  <meta charset="utf-8" />
  <title>{{#if title}}{{ title }} | {{/if}}when.st</title>
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1, viewport-fit=cover"
  />
  <link rel="manifest" href="{{ r 'src/app.webmanifest' }}" />
  <meta
    name="theme-color"
    content="black"
    media="(prefers-color-scheme: dark)"
  />
  <meta
    name="theme-color"
    content="white"
    media="(prefers-color-scheme: light)"
  />
  <meta name="theme-color" content="white" />
  <meta name="mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-touch-fullscreen" content="yes" />
  <meta name="apple-mobile-web-app-title" content="when.st" />
  <meta
    name="apple-mobile-web-app-status-bar-style"
    content="black-translucent"
  />
  <link
    rel="preload"
    crossorigin="anonymous"
    href="{{ r 'fonts/iAWriterQuattroS-Regular.woff2' }}"
    as="font"
    type="font/woff2"
  />
  <link
    rel="preload"
    crossorigin="anonymous"
    href="{{ r 'fonts/iAWriterQuattroS-Bold.woff2' }}"
    as="font"
    type="font/woff2"
  />
  <link
    rel="preload"
    crossorigin="anonymous"
    href="{{ r 'fonts/iAWriterQuattroS-Italic.woff2' }}"
    as="font"
    type="font/woff2"
  />
  <link
    rel="preload"
    crossorigin="anonymous"
    href="{{ r 'fonts/iAWriterQuattroS-BoldItalic.woff2' }}"
    as="font"
    type="font/woff2"
  />
  {{> @partial-block }}
  <link
    rel="shortcut icon"
    type="image/png"
    href="{{ r 'images/favicon-white.png' }}"
  />
  <link
    rel="icon"
    type="image/png"
    sizes="32x32"
    href="{{ r 'images/favicon-white.png' }}"
  />
  <link
    rel="icon"
    type="image/png"
    sizes="128x128"
    href="{{ r 'images/favicon-white-128.png' }}"
  />
  <link
    rel="icon"
    type="image/png"
    sizes="192x192"
    href="{{ r 'images/favicon-white-192.png' }}"
  />
  <link
    rel="apple-touch-icon"
    sizes="120x120"
    href="{{ r 'images/favicon-white-120.png' }}"
  />
  <link
    rel="apple-touch-icon"
    sizes="167x167"
    href="{{ r 'images/favicon-white-167.png' }}"
  />
  <link
    rel="apple-touch-icon"
    sizes="180x180"
    href="{{ r 'images/favicon-white-180.png' }}"
  />
  <link rel="apple-touch-icon" href="{{ r 'images/favicon-white-180.png' }}" />
  <link rel="me" href="https://devua.club/@zemlanin" />
</head>
